body {
    font-size: 16px;
    color: #fff;
    background-color: #24a300 ;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    background-color: white;
    border-radius: 0;
}
#logo-img{
    background: url('../images/logo.png') no-repeat;
    height: 95px;
    width: 150px;
    margin: 10px 10px 10px;
}
span{
    color: black;
}
.navbar-brand h1{
    font-family: 'Kaushan Script', cursive;
    color: #24a300;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: black;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{
    vertical-align: middle;
}
button{
    position: absolute;
    right: 30px;
    top: 50px;
}
#demo{
    color: black;
}
.container .jumbotron{
    padding: 1px;
    width: 770px;
}